/BattleshipsGDX-android/bin
/BattleshipsGDX-android/gen/com/battleships/base/R.java


/BattleshipsGDX-desktop/bin
/BattleshipsGDX-desktop/assets

/BattleshipsGDX/bin
/BattleshipsGDX-server/bin
/BattleshipsGDX-server/assets

/BattleshipsGDX-html/war
/BattleshipsGDX-html/gwt-unitCache